@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600&subset=latin,cyrillic-ext,latin-ext,cyrillic);



body{
    font-family: "open sans";
    background: #dddddd;
    color: #666;
}
.color-blue{
    color: rgb(116,192,226);
}
.newsContent{
    width: 800px;
    margin: 0 auto;
    background: white;
}

.head{
    background: black;
    text-align: center;
    color: white;
    padding: 17px;
}
.description{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    position: relative;
}
    .description .manifesto{
        position: absolute;
        right: -131px;
        background: rgb(238, 0, 0);
        padding: 5px 0px;
        text-align: center;
        width: 138px;
        font-size: 13px;
        color: white;
        top: 42px;
    }
        .description .manifesto a{
            color: inherit;
            text-transform: none;
            text-decoration: none;
        }
    .coltRosu1{
        position: absolute;
        right: -132px;
        top: 32px;
        width: 22px;
    }
.coltRosu2{
    position: absolute;
    right: -17px;
    top: -9px;
    width: 22px;
}
.photographer{
    text-align: right;
    color: #999;
    font-size: 10px;
    margin: 0px;
    margin-right: 10px;
}
.container-title{
    padding-left: 40px;
}
    .container-title p {
        margin: 0px 0px 7px 0px;
    }

.title{
    font-weight: 600;
}

div.text {
    padding: 25px 40px;
}
.container-stories span.article{
    display: inline-block;
    width: 255px;
    margin-right: 13px;
    vertical-align: top;
}
    .container-stories span.article a{
        color: inherit;
        text-decoration: none;
    }
.container-stories span.article:last-child{
    margin-right: 0px;
}
.article .container-img{
    height: 170px;
    overflow-y: hidden;
}
    .article img{
        width: 100%;
    }
.container-buline img
{
 width: 40px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}
.container-buline2 img
{
 width: 40px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

.stories2 p{
    margin: 0px;
}
.story{
    margin-bottom: 30px;
}
.story a{
    color: inherit;
    text-decoration: none;
}
.seeMore{
    font-size: 12px ;
}
.benzi{
    position: relative;
    height: 128px;
}
    .benzi > div {
        position: absolute;
        width: 805px;
    }
        .banda{
            color: white;
            text-align: center;
            padding: 8px;
            width: 100%;
        }
            .banda a{
                color: inherit;
                text-decoration: none;
            }
                .banda a img{
                    width: 20px;
                    display: inline-block;
                    margin-bottom: -4px;
                }
.subscribe{
    background: rgb(238, 0, 0);
}
.explore{
    background: rgb(116,192,226);
}
.follow{
    background: #333;
    padding: 15px 8px;
}
.smallText{
    width: 700px;
    font-size: 12px;
}
.story-title{
    text-transform: uppercase;
}