.idea
sercore.txt
ClassLoader.save.php
en_superfish.html
mail.log
protected/var/trees
bsea.xml
testRev.xml
**/RES*
**/RES/uploads
config.production.php
config.development.php
config.testing.php
htdocs/lists/config/config.php

# Teh symlinks shall be ignored from now on
**/fw/GENERAL
**/fw/MODELS
**/fw/PLUGINS
htdocs/assets

## File-based project format
*.ipr
*.iws
*.iml

## Additional for IntelliJ
out/

## The rest of the directory structure
src/
htdocs.bak
protected-old
src-test/
uploads/
.htgroup
.htpasswd
errors/
tmp/
